.profile__info-job {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #FFFFFF;
  margin: 0;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .profile__info-role {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}
